.navigation {
	background: #98962c;
	overflow: hidden;	
    font-family: tahoma;
	ul {
		margin: 0;	
		.navigation_item {
			list-style: none;
	    	float: left;
			a {
				color: #eaeaea;
			    text-decoration: none;
			    display: block;
			    padding: 12px 10px;
			}
		}
		.navigation_home_item {
			a {
				padding-top: 6px;
    			padding-bottom: 4px;
			}
		}
		.logOut {
			float: right;
			margin-right: 20px;
		}
	}
}